<%= cache @actor do %>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @actor.image_path %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h1><%= @actor.name %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Born: <%= l(@actor.birthdate) %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><%= @actor.bio %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Known For</h3>
          <ul>
            <% @actor.movies.each do |movie| %>
              <li><%= link_to movie.name, movie %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>